@import "./ui/dropdown.scss";

.header {
  grid-area: header;
  background-color: #101011;
  max-height: 78px;
  display: flex;
  align-items: center;

  &__search-block {
    padding: 9px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    background: #1d1d21;
    border-radius: 4px;
    height: fit-content;
    border: 1px solid #1d1d21;

    &-icon {
      max-width: 24px;
      max-height: 24px;
      fill: #787878;
      margin-right: 5px;
    }

    &-input {
      background: none;
      color: #787878;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &:focus-within {
      background: #1d1d21;
      border: 1px solid #787878;
      box-sizing: content-box;
    }
  }

  &__balance {
    display: grid;
    grid-template:
      "title button"
      "value value";

    &-title {
      color: #787878;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &-value {
      color: #ffffff;
      text-align: center;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
    }

    &-button {
      max-width: 26px;
      max-height: 26px;

      &-icon {
        max-width: 26px;
        max-height: 26px;
        fill: #ffffff;
      }
    }
  }

  &__messages {
    width: 40px;
    height: 40px;
    &-button {
      width: 100%;
      height: 100%;
      background: #242424;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-icon {
        max-width: 24px;
        max-height: 24px;
        width: 100%;
        height: 100%;
        fill: #ffffff;
      }
    }
  }

  &__notification {
    width: 40px;
    height: 40px;

    &-button {
      width: 100%;
      height: 100%;
      background: #242424;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-icon {
        max-width: 24px;
        max-height: 24px;
        width: 100%;
        height: 100%;
        fill: #ffffff;
      }

      &:hover {
        background: #1d1d21;
      }

      &:focus {
        background: #1d1d21;
      }

      &:active {
        background: #1d1d21;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;

    &-info {
      &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #242424;
        margin-right: 10px;
      }

      &-name {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
      }

      &-button {
        width: 40px;
        height: 40px;
        background: #242424;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
          max-width: 24px;
          max-height: 24px;
          width: 100%;
          height: 100%;
          fill: #ffffff;
        }

        &:hover {
          background: #1d1d21;
        }

        &:focus {
          background: #1d1d21;
        }

        &:active {
          background: #1d1d21;
        }
      }
    }
  }
}
