@import "./../style.scss";
@import "./../components/sidebar.scss";
@import "./../components/header.scss";
@import "./../components/tabs.scss";

body {
  overflow: hidden;
}

.wrapper {
  max-height: 100vh;
}

.main {
  position: relative;
  background-image: url("./../../images/newsBg.png"),
    linear-gradient(180deg, rgba(78, 78, 116, 0) 0%, #0c0c0e 100%);
  background-repeat: repeat-x, no-repeat;
  background-position:
    0 -30px,
    top;
  background-size: auto, cover;
  backdrop-filter: blur(110px);
}
.page {
  overflow: auto;
}

.page__container {
  max-width: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}

.chat-section {
  display: flex;
  flex-grow: 1;
  flex: 100%;

  &__sidebar {
    display: flex;
    flex-direction: column;

    padding: 26px 15px;
    max-width: 384px;
    width: 100%;
    background: rgba(59, 59, 63, 0.2);
  }

  &__chat {
    display: flex;
    flex-direction: column;

    width: 100%;
    background: linear-gradient(
      123deg,
      rgba(96, 108, 136, 0.2) -12.16%,
      rgba(63, 76, 107, 0.08) 108.07%
    );
    backdrop-filter: blur(10px);
  }
}

.chat {
  display: flex;
  max-width: none;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;

  &__messages-container {
    height: auto;
    flex-grow: 1;
    flex: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 26px 39px 20px 40px;
    background: linear-gradient(
      123deg,
      rgba(96, 108, 136, 0.2) -12.16%,
      rgba(63, 76, 107, 0.08) 108.07%
    );
  }

  &__message {
    margin-top: 15px;
    width: fit-content;
    display: grid;
    column-gap: 8px;
    row-gap: 2px;
    grid-template:
      "avatar message-block"
      "avatar time";

    &-user-avatar {
      grid-area: avatar;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-block {
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      padding: 10px 12px 12px 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-user-name {
        color: #f8f8f8;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
      }

      &-user-message {
        margin-top: 6px;
        color: #bfbfbf;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        max-width: 800px;
      }

      &-user-image {
        margin-top: 26px;
      }
    }

    &-time {
      grid-area: time;
      color: #bfbfbf;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
    }

    &_my {
      margin-left: auto;
      grid-template:
        " message-block avatar"
        " time avatar";
      .chat__message-block-user-name {
        margin-left: auto;
      }
      .chat__message-time {
        margin-left: auto;
      }
    }

    &-input-block {
      display: flex;
      justify-content: space-between;
      padding: 12px 36px 12px 43px;

      max-height: 62px;
      width: 100%;
      height: 100%;
      background: #343437;

      &_request {
        background: linear-gradient(
          123deg,
          rgba(96, 108, 136, 0.2) -12.16%,
          rgba(63, 76, 107, 0.08) 108.07%
        );

        backdrop-filter: blur(10px);
      }
    }

    &-input {
      flex-grow: 1;
      margin-right: 20px;
      background: none;
      color: #bfbfbf;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
    }

    &-submit-button {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: #fac704;
      &-icon {
        max-width: 38px;
        max-height: 38px;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background-color: darken(#fac704, 10%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px lighten(#fac704, 10%);
      }

      &:active {
        background-color: lighten(#fac704, 10%);
      }
    }
  }

  &_request {
    .chat__messages-container {
      flex: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.input {
  &__search {
    padding: 5px;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    background: rgba(248, 248, 248, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    &-button {
      background: none;
    }
    &-icon {
      width: 25px;
      height: 25px;
      fill: #bfbfbf;
      margin-right: 0px;
      padding-top: 4px;
    }
    &-input {
      width: fit-content;
      min-width: 100px;
      background: none;
      color: #bfbfbf;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      color: white;
      &::placeholder {
        color: #bfbfbf;
      }
    }
  }
}

.chat-section-sidebar__list-users {
  margin-top: 16px;

  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.user {
  position: relative;
  padding: 16px;
  display: grid;
  grid-template:
    "avatar name setting"
    "avatar status setting" auto/min-content auto min-content;

  &.active {
    background-color: #30312d63;
  }

  &__rank {
    grid-area: rank;
    width: 66px;
    height: 29px;
    margin: auto;
    margin-right: 78px;
    margin-left: 39px;
  }

  &__submit-button {
    grid-area: submit;
    margin: auto;
    width: 24px;
    height: 24px;
    margin-right: 17px;
    border-radius: 4px;
    background: none;

    &-icon {
      width: 100%;
      height: 100%;
      fill: #6fff57;
    }
  }

  .add-friend {
    grid-area: submit;
    svg {
      fill: #6fff57;
    }
  }

  .remove-friend {
    grid-area: submit;
    svg {
      fill: #ff0000;
    }
  }

  &__action-button {
    grid-area: submit;

    &_check {
      margin: auto;
      padding: 4.8px;
      width: 24px;
      height: 24px;
      margin-right: 17px;
      border-radius: 4px;
      border: 1px solid #6fff57;
      background: rgba(111, 255, 87, 0.2);
      svg {
        width: 100%;
        height: 100%;
        fill: #6fff57;
      }
      &:hover {
        background: rgba(111, 255, 87, 0.3);
        border-color: darken(#6fff57, 10%);
      }

      &:focus {
        outline: 2px solid #6fff57;
        outline-offset: 2px;
      }

      &:active {
        background: rgba(111, 255, 87, 0.4);
        border-color: darken(#6fff57, 20%);
      }
    }
  }

  &__remove-friend-button {
    grid-area: submit;

    &-icon {
      width: 100%;
      height: 100%;
      fill: #6fff57;
    }

    &_user {
      margin: auto;
      width: 24px;
      height: 24px;
      margin-right: 17px;
      border-radius: 4px;
      background: none;
      &-icon {
        width: 100%;
        height: 100%;
        fill: #6fff57;
      }

      &:hover,
      &:focus {
        .user__submit-button-icon {
          fill: #aceb98;
          transform: scale(1.1);
        }
      }

      &:active {
        .user__submit-button-icon {
          fill: #59bf30;
          transform: scale(0.9);
        }
      }
    }
  }

  &__online-status {
    position: absolute;
    width: 14px;
    height: 14px;

    border-radius: 50%;
    right: 0;
    top: 0;

    &_online {
      background: #6fff57;
    }
  }

  &__avatar {
    position: relative;
    margin-right: 11px;
    grid-area: avatar;
    width: 46px;
    height: 46px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__rank {
    grid-area: rank;
  }

  &__name {
    color: #bfbfbf;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
  }

  &__status {
    grid-area: status;
    color: #606060;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
  }

  &__setting-button {
    margin: auto;
    grid-area: setting;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover {
    border-radius: 2px;
    background: rgba(248, 248, 248, 0.1);

    .user__setting-button {
      border-radius: 50%;
      background: rgba(191, 191, 191, 0.2);
      backdrop-filter: blur(10px);
    }

    .user-menu {
      display: block;
      z-index: 3;
    }
  }
}

.user-menu {
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background: rgba(26, 26, 28, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(60px);
  padding: 9px 7px;
  z-index: 10;
  &.user-menu-upwards {
    top: -220%;
  }

  &__button {
    background: none;
    padding: 7px;
    display: flex;
    align-items: center;
    width: 100%;

    color: #f8f8f8;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;

    &.add-friend {
    }

    &-icon {
      margin-right: 23px;
      width: 24px;
      height: 24px;
      fill: #f8f8f8;

      &_warn {
        fill: #f13939;
      }

      &_succes {
        fill: #6fff57;
      }
    }
  }
}

.tabs-block {
  flex-grow: 1;
  flex: 100%;
  display: flex;
  flex-direction: column;
  &__tabs {
    max-width: 846px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 39px;
    height: 30px;
  }
}

.content__tabs-content {
  flex-grow: 1;
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-block__content-container_active {
  flex-grow: 1;
  flex: 100%;
  flex-direction: column;
  display: flex;
}

.tabs-block__tab {
  width: 100%;

  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.input__search {
  padding-left: 18px;
  padding-right: 18px;
}

.user_request {
  width: 100%;
  max-width: none;
  grid-template:
    "avatar name rank submit setting"
    "avatar status rank submit setting" auto/min-content auto min-content min-content min-content;
}

.chat-section-sidebar_request {
  max-width: 574px;
}

.chat__messages-empty-container {
  margin: auto;
  width: 100%;
  &-line {
    width: 100%;
    height: 62px;
    background: #343437;
  }

  &-text-info {
    color: #bfbfbf;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

.search-section__search-block {
  width: 514px;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  background: rgb(16, 16, 29);
  backdrop-filter: blur(110px);
  z-index: 5;
}

.search-section {
  max-width: 544px;
  margin-left: auto;
  margin-right: auto;

  &__list-users {
    margin-top: 16px;
    z-index: 0;
  }
}

.user__setting-button {
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    outline: 2px solid #6fff57;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.flex-wrapper {
  display: flex;
  max-height: 100vh;
  width: 100%;

  &__page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #10101d;
  }
}

.header {
  order: 1;
  justify-self: start;
}

.main {
  position: relative;
  order: 2;
  justify-self: end;
  flex-grow: 1;
  flex: 100%;
  overflow: auto;
}

.filters {
  overflow: auto;
}

.content__tabs-content {
  overflow: auto;
}

.chat-section__chat {
  overflow: auto;
}

.chat-section {
  overflow: auto;
}

.tabs-block__content-container {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.chat__messages-container {
  width: auto;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    position: absolute;
  }
  &::-webkit-scrollbar-track {
    background: rgb(18, 25, 43);
    border: none;
  }
}

#request-content {
  .chat-section-sidebar {
    max-width: 574px;
  }
}

.user__remove-button {
  margin: auto;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  border-radius: 4px;
  background: none;
  .user__submit-button-icon {
    fill: red;
  }
}

.user__remove-button {
  grid-area: submit;
  &.user__submit-button_user {
    margin: auto;
    width: 24px;
    height: 24px;
    margin-right: 17px;
    border-radius: 4px;
    background: none;
    .user__submit-button-icon {
      width: 100%;
      height: 100%;
      fill: red !important;
    }

    &:hover,
    &:focus {
      .user__submit-button-icon {
        fill: red !important;
        transform: scale(1.1);
      }
    }

    &:active {
      .user__submit-button-icon {
        fill: red !important;
        transform: scale(0.9);
      }
    }
  }
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 70vh;
  }
}

.dropdown__game-arrow _rotate {
  transform: rotate(180deg);
}

.tippy-content {
  padding: 0 !important;
}
