$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$maxWidthContainer: 1556; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1526; // ширина контейнера из макета

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: 'Roboto'; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$headerHeight: 100;
$footerHeight: 100;

// $mainRadius: rem(10);
$whiteColor: #fff;
$blackColor: #131313;
$blackColor04: rgba(0, 0, 0, 0.4);
$grayColor: #6f6f6f;
$redColor: #ff4040;

$MidnightBlue: #0c0c0e;
$Goldenrod: #fac704;
$OliveDrab: #7b6303;
$DimGray: #606060;
//# ----- white -----
$white50: #fff;

//# ----- gray -----
$gray25: #f8f8f8;
$gray50: #e4e4e4;
$gray100: #bfbfbf;
$gray200: #989898;
$gray300: rgba(248, 248, 248, 0.6);
$gray450: #7c7c7c;
$gray475: #6f6f6f;
$gray400: #787878;
$gray500: #606060;
$gray550: rgba(248, 248, 248, 0.15);
$gray600: rgba(248, 248, 248, 0.1);
$gray700: rgba(196, 196, 196, 0.1);
$gray800: rgba(248, 248, 248, 0.05);
$gray900: rgba(248, 248, 248, 0.02);

//# ----- dark -----
$dark100: #3f3d46;
$dark200: #18181b;
$dark300: #101011;
$dark400: #0c0c0e;
$dark500: rgba(24, 24, 27, 0.9);
$dark600: #1D1D21;

//# ----- yellow -----
$yellow300: #fac704;
$yellow400: #685422;
$yellow700: rgba(250, 199, 4, 0.2);
$yellow800: rgba(250, 199, 4, 0.1);

//# ----- green -----
$green50: #6fff57;
//# ----- red -----
$red500: #f13939;
$red800: rgba(241, 57, 57, 0.1);

// 22222222
//# ----- gradient -----
$gradient50: linear-gradient(180deg, rgba(78, 78, 116, 0) 0%, #0c0c0e 100%);
$gradient100: linear-gradient(262deg, #fac704 0%, #4b1613 100%);
$gradient200: linear-gradient(262deg, #7D70D1 0%, #134B48 100%);

$firstAccentColor: $blackColor;
$secondAccentColor: $redColor;

$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $blackColor; // Цвет шрифта по умолчанию
$fontSize: 16; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);
