.match-tr {
  cursor: pointer;
  td {
    vertical-align: middle;
    &:not(:first-child) {
      padding-left: 14px;
    }
    &:not(:last-child) {
      padding-right: 14px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }
  &__img-cell {
    min-width: 164px;
    width: 164px;
  }

  &__img-block {
    width: 164px;
    height: 80px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name-cell {
    min-width: 351px;
    width: 351px;
    width: 24.476987%; /* 351/1434 */
  }
  &__name-block {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__flag {
    margin: 0px 24px 0px 0px;
    width: 37px;
    height: 24px;
  }

  &__name {
    width: 100%;
    color: $gray25; // #f8f8f8;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__map {
    min-width: 135px;
    width: 135px;
    width: 9.414226%; /* 135/1434 */
  }

  &__data-title {
    color: $DimGray; // #606060
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }

  &__rate-value {
    color: $gray25; // #f8f8f8
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__rate-block {
    min-width: 127px;
    width: 127px;
    width: 8.856346%; /* 127px/1434px */
  }

  &__mode {
    min-width: 122px;
    width: 122px;
    width: 8.507671%; /* 122/1434 */
  }

  &__participants {
    min-width: 100px;
    width: 100px;
    width: 6.973501%; /* 100/1434 */
  }
  &__ping-cell {
    min-width: 406px;
    width: 406px;
    width: 28.312413%; /* 406/1434 */
  }
  &__ping-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__ping {
    margin: 0px 2px 0px 0px;
    color: $green50; // #6fff57
    text-align: right;
    font-style: normal;
    font-weight: 700;
    line-height: 0.75;
  }

  &__ping-icon {
    width: 24px;
    height: 24px;
    svg {
      width: 100%;
      height: 100%;
      fill: $green50; // #6fff57
    }
  }
}
