.view-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    width: max-content;
    color: $gray25; // #f8f8f8
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__view-box {
    width: auto;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      width: 100%;
      height: 100%;
      fill: $gray525; // #6A6C7D
      transition: $standartTrans;
    }
    .tabs-block__tab {
      max-width: 30px;
      height: 30px;

      &_active {
        svg {
          fill: $yellow300;
        }
      }
    }
  }
  &__text {
    margin: 0px 6px 0px 0px;
    color: $gray25; // #f8f8f8
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__grid {
    margin: 0px 9px 0px 0px;
  }
}
