.tournament-input {
  margin-top: 28px;
  border-radius: 2px;
  background: rgba(248, 248, 248, 0.1);
  backdrop-filter: blur(40px);
  display: block;
  width: 100%;
  padding: 20px 31px 21px;
  color: #bfbfbf;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;

  &.just-validate-error-field {
    border: 1px solid red;
  }
}

.just-validate-error-label {
  margin-top: 5px;
}
