.wallet {
   padding: 46px 84px 47px 59px;
   &__row {
      display: flex;
      margin-bottom: 55px;
      &-card {
         height: 223px;
         position: relative;
      }
      &-info {
         position: absolute;
         bottom: 18px;
         left: 24px;
      }
      &-id,
      &-name {
         color: $gray25;
         font-size: 24px;
         font-weight: 400;
         line-height: normal;
         text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      }
      &-item {
         margin-left: 39px;
         width: 100%;
      }
      &-top {
         display: flex;
         align-items: center;
         svg {
            width: 24px;
            height: 24px;
            fill: $gray25;
         }
      }
      &-subscription,
      &-btn {
         color: $gray25;
         font-size: 28px;
         font-weight: 500;
         line-height: normal;
      }
      &-btn {
         background: transparent;
         color: $yellow300;
         margin-left: 5px;
      }
      &-graph {
         position: relative;
      }
      &-balance {
         margin-top: 15px;
         position: absolute;
         &-text {
            color: $gray25;
            font-size: 24px;
            font-weight: 400;
            line-height: normal;
         }
         &-sum {
            color: $yellow300;
            font-size: 48px;
            font-weight: 700;
            line-height: normal;
            span {
               color: $yellow300;
               text-decoration: line-through;
            }
         }
         &-canvas {
            width: 100% !important;
            height: 179px !important;
         }
      }
   }
   &__transaction {
      &-btns {
         display: flex;

         &-title {
            color: $gray25;
            font-size: 24px;
            font-weight: 400;
            line-height: normal;
            &_sub{
               margin-left: 30px;
            }
         }
         &-card,
         &-friend {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: $gray550;
            width: 195px;
            height: 73px;
         }
         &-text {
            color: $gray100;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            span {
               color: $gray100;
               text-decoration: line-through;
            }
            &_sub {
               font-size: 18px;
            }
         }
         &-row {
            display: flex;
            justify-content: space-between;
            width: 400px;
            margin-top: 14px;
            &_sub {
               margin-left: 30px;
               display: flex;
               justify-content: space-between;
               width: 655px;
            }
         }
         &-bank,
         &-pay,
         &-googlepay,
         &-webmoney {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 156px;
            height: 73px;
            border-radius: 8px;
            background: $green100;
         }
         &-bank,
         &-webmoney {
            svg {
               width: 32px;
               height: 32px;
               fill: $gray100;
            }
         }
         &-pay {
            svg {
               width: 36px;
               height: 36px;
               fill: $gray100;
            }
         }
         &-googlepay {
            svg {
               width: 24px;
               height: 24px;
               fill: $gray100;
            }
         }
      }
      &-link {
         margin: 24px 0 44px;
         width: 100%;
         height: 73px;
         button {
            color: $gray25;
            span {
               color: $gray25;
               text-decoration: line-through;
            }
         }
      }
   }
   &__history {
      overflow: auto;
      height: 350px;
      padding-right: 10px;
   }

   &__content {
      &-transaction {
         margin-top: 55px;
         display: flex;
      }
      &-subrow {
         margin-top: 14px;
         &_row {
         }
      }
      &-btns {
         display: flex;
         justify-content: space-between;
         width: 400px;
         margin-top: 14px;

         &_sub {
           
            display: flex;
            justify-content: space-between;
         }

         &-svg {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
               width: 24px;
               height: 24px;
               fill: $gray100;
            }


         }
         &-card,
         &-friend {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: $gray550;
            width: 195px;
            height: 73px;
         }
         &-text {
            color: $gray100;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            span {
               color: $gray100;
               text-decoration: line-through;
            }
            &_sub {
               font-size: 18px;
            }
         }

         &-bank,
         &-pay,
         &-googlepay,
         &-webmoney {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 156px;
            height: 73px;
            border-radius: 8px;
            background: $green100;
         }
      }


   }
}
