<div
  class="filters__create-lobby create-lobby tabs-block__content-container"
  id="create-content"
>
  <div class="create-lobby__lobby-block lobby-block">
    <div class="lobby-block__title create-lobby__title"> </div>
    <div class="lobby-block__game-mode">
      <button class="lobby-block__btn btn btn_create-loby btn_create-loby-act">
        1х1
      </button>
      <button class="lobby-block__btn btn btn_create-loby">5х5</button>
    </div>
    <input type="text" class="lobby-block__title-input text-input" />
  </div>
  <div class="create-lobby__rate-block rate-block">
    <div class="rate-block__title create-lobby__title"></div>
  </div>
  <button class="create-lobby__btn btn btn_create-loby btn_create-loby-act">
    1000
    <span>BS</span>
  </button>
</div>
