<tr class="match-tr content__tr" id="">
  <td class="match-tr__img-cell">
    <div class="match-tr__img-block">
      <img
        src="src/images/temporary/map-img.png"
        alt=""
        class="match-tr__img"
      />
    </div>
  </td>
  <td class="match-tr__name-cell">
    <div class="match-tr__name-block">
      <img
        src="src/images/temporary/ukr-flag.png"
        alt="flag"
        class="match-tr__flag"
      />
      <div class="match-tr__name"> PlayFair Display$$$ </div>
    </div>
  </td>
  <td class="match-tr__map">
    <div class="match-tr__data-title"> Карта </div>
    <div class="match-tr__rate-value"> Mirage </div>
  </td>
  <td class="match-tr__rate-block">
    <div class="match-tr__data-title"> Ставка </div>
    <div class="match-tr__rate-value"> 5000 $ </div>
  </td>
  <td class="match-tr__mode">
    <div class="match-tr__data-title"> Режим </div>
    <div class="match-tr__rate-value"> 5x5 </div>
  </td>
  <td class="match-tr__participants">
    <div class="match-tr__data-title"> Учасников </div>
    <div class="match-tr__rate-value"> 8/10 </div>
  </td>
  <td class="match-tr__ping-cell">
    <div class="match-tr__ping-block">
      <div class="match-tr__ping">23 </div>
      <div class="match-tr__ping-icon">
        <svg>
          <use xlink:href="src/images/sprite.svg#haf_network-strength"></use>
        </svg>
      </div>
    </div>
  </td>
</tr>
