<div class="{=$class} view-tabs">
  <div class="view-tabs__title"> Открытые лобби </div>
  <div class="view-tabs__view-box tabs-block__tabs">
    <div class="view-tabs__text">Отобразить</div>
    <div
      class="view-tabs__grid tabs-block__tab tabs-block__tab_active"
      data-tab-name="grid"
    >
      <svg>
        <use xlink:href="src/images/sprite.svg#grid-view"></use>
      </svg>
    </div>
    <div class="view-tabs__table tabs-block__tab" data-tab-name="table">
      <svg>
        <use xlink:href="src/images/sprite.svg#table-view"></use>
      </svg>
    </div>
  </div>
</div>
