<div class="{=$class} sorting-block tabs-block">
  <div class="sorting-block__title"> Открытые лобби </div>
  <div class="sorting-block__sorting-box tabs-block__tabs">
    <div class="sorting-block__text">Отобразить</div>
    <div class="sorting-block__grid tabs-block__tab" data-tab-name="grid">
      <svg>
        <use xlink:href="src/images/sprite.svg#grid-view"></use>
      </svg>
    </div>
    <div class="sorting-block__table tabs-block__tab" data-tab-name="table">
      <svg>
        <use xlink:href="src/images/sprite.svg#table-view"></use>
      </svg>
    </div>
  </div>
</div>
