<div class="{=$class} statistics">
  <div class="statistics__statistic-block">
    <div class="statistics__data">4 058</div>
    <div class="statistics__title-block">игроков онлайн</div>
  </div>
  <div class="statistics__statistic-block">
    <div class="statistics__data">467 378</div>
    <div class="statistics__title-block">матчей сыграно</div>
  </div>
  <div class="statistics__statistic-block">
    <div class="statistics__data">3 467 378</div>
    <div class="statistics__title-block">суммарный банк</div>
  </div>
</div>
