.details {
   margin-top: 50px;
   &__name-teams {
      display: flex;
      align-items: center;
      justify-content: center;
      &-flag {
         width: 37px;
         height: 24px;
         img {
            width: 100%;
            height: 100%;
         }
      }
      &-name {
         color: $gray25;
         font-size: 22px;
         font-weight: 500;
         line-height: normal;
         margin-left: 25px;
      }
   }
   &__info {
      margin: 30px auto 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      &-row {
         display: flex;
         justify-content: space-between;
         width: 520px;
      }
      &-title {
         color: $gray300;
         font-size: 16px;
         font-weight: 500;
         line-height: normal;
      }
      &-name {
         color: $gray25;
         font-size: 18px;
         font-weight: 500;
         line-height: normal;
      }

      &-id {
         svg {
            width: 18px;
            height: 18px;
            fill: $gray25;
            cursor: pointer;
         }
      }

      &-btn {
         width: 425px;
         display: flex;
         justify-content: space-between;
         margin: 24px auto 0;

         button {
            width: 200px;
            height: 43px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            color: $gray25;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            border-radius: 4px;
            background: rgba(196, 196, 196, 0.1);

            backdrop-filter: blur(5px);
            svg {
               width: 24px;
               height: 24px;
               fill: $gray25;
               margin-right: 4px;
            }
         }
      }
   }
   &__teams {
      border-radius: 4px;
      background: $dark600;
      width: 1077px;
      height: 52px;
      padding: 15px 27px 0 24px;
      margin-top: 130px;
      position: relative;
      &-item {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &-side-a {
         display: flex;
         align-items: center;
      }
      &-side-b {
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
      }
      &-name {
         color: $gray25;
         font-size: 20px;
         font-weight: 900;
         line-height: normal;
      }
      &-rank {
         color: $gray100;
         font-size: 18px;
         font-weight: 500;
         line-height: normal;
         margin-left: 16px;
         &:nth-child(2) {
            margin-right: 16px;
         }
      }
      &-timer {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         &-shodow {
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
         }
         &-outer {
            background: #fac704;
            position: relative;
            width: 149px;
            height: 94px;
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            &_score {
               width: 180px;
            }
         }
         &-inner {
            position: absolute;
            top: 4px;
            left: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            background-color: #3f3f45;
         }

         &-time {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $gray25;
            text-align: center;
            font-size: 34px;
            font-weight: 900;
            line-height: normal;
            &_sub {
               width: 58px;
               height: 40px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               font-size: 35px;
               font-weight: 700;
               line-height: normal;
               color: $gray25;
               text-align: center;
            }
         }
         &-text {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            color: #a2a3a4;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
         }
      }
   }
   &__players {
      display: flex;
      justify-content: space-between;
      width: 1077px;
      margin-top: 17px;
      position: relative;
      &-square {
         display: none;
         width: 642px;
         position: absolute;
         left: 0;
         right: 0;
         top: -93px;
         margin: 0 auto;
         // z-index: ;

         &-btn {
            width: 166px;
            height: 48px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;
            // z-index: 9990;
            button {
               color: $yellow300;
               font-size: 18px;
               font-weight: 500;
               line-height: normal;
               border-radius: 2px;
               border: 1px solid var(--1, $yellow300);
               background: rgba(250, 199, 4, 0.1);
            }
         }
      }

      &-side {
         &_a {
            width: 529px;
            height: 360px;
            border-radius: 4px;
            background: rgba(37, 37, 56, 0.4);
            backdrop-filter: blur(5px);
            padding: 14px 36px 0 24px;
         }
         &_b {
            border-radius: 4px;
            background: rgba(70, 41, 41, 0.4);
            width: 529px;
            height: 360px;
            backdrop-filter: blur(5px);
            padding: 14px 36px 0 24px;
         }
      }

      &-top {
         display: flex;
         justify-content: space-between;
         // padding: 14px 61px 0 24px;
      }

      &-info {
         display: flex;
         justify-content: space-between;
         width: 107px;
         margin-right: 30px;
      }
      &-text {
         color: #7b7b7b;
         font-size: 14px;
         font-weight: 500;
         line-height: normal;
      }
      &-line {
         width: 100%;
         height: 1px;
         background: #7b7b7b;
         margin-top: 10px;
      }
      &-item {
         margin-top: 15px;
         height: 290px;

         // display: flex;
         // flex-direction: column;
         // justify-content: space-between;
      }
      &-teams {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 445px;
         height: 50px;
         margin-bottom: 10px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      &-info {
         display: flex;
         align-items: center;
      }
      &-avatar {
         width: 50px;
         height: 50px;
      }
      &-flag {
         width: 21px;
         height: 14px;
         border: 1px solid #7b7b7b;
         margin: 0 11px 0 16px;
         &._check {
            display: none;
         }
      }
      &-name {
         color: $gray25;
         font-size: 20px;
         font-weight: 500;
         line-height: normal;

         &._check {
            display: none;
         }
      }
      &-skils {
         width: 107px;
         display: flex;
         justify-content: space-between;

         &-kill,
         &-death,
         &-assist {
            color: $gray25;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;

            &._check {
               display: none;
            }
         }
      }
      &-add {
         margin-bottom: 10px;
         position: relative;
         &:last-child {
            margin-bottom: 0;
         }
         &-new {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: #48485f;
            position: relative;

            &::after,
            &::before {
               content: "";
               position: absolute;
               background-color: white;
            }

            &::after {
               width: 2px;
               height: 20px;
               top: 15px;
               left: 24px;
            }

            &::before {
               width: 20px;
               height: 2px;
               top: 24px;
               left: 15px;
            }
         }
      }
   }
}

.dropdown {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   border-radius: 4px;
   background: $dark500;
   box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(60px);
   -webkit-backdrop-filter: blur(60px);
   height: 150px;
   overflow: auto;
   display: none;
   padding: 20px;
   z-index: 40;

   &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
   }
}

.statictic {
   display: flex;

   &__score {
      position: relative;
      transform: rotate(90deg);
      left: 0;
      width: 149px;
      height: 94px;
      &-txt {
         position: absolute;
         top: -14%;
         left: 55%;
         z-index: 50;
         color: $gray25;
         font-size: 34px;
         font-style: normal;
         font-weight: 900;
         line-height: normal;
         transform: rotate(-90deg);
         display: flex;
         flex-direction: column;
         align-items: center;
         span {
            color: $gray25;
         }
      }
   }
   &__description {
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.1);
      backdrop-filter: blur(5px);
      width: 678px;
      height: 186px;
      margin: 72px auto 0;

      &-text {
         color: #bfbfbf;
         font-size: 20px;
         font-weight: 500;
         line-height: normal;
         display: flex;
         padding: 81px 85px;
      }
   }

   &__side {
      padding: 16px 27px 3px 14px;
      backdrop-filter: blur(5px);
      border-radius: 4px;
      &_a {
         background: rgba(37, 37, 56, 0.4);
      }
      &_b {
         background: rgba(70, 41, 41, 0.4);
         width: 1162px;
      }
   }
   &__row {
      display: flex;
      align-items: center;
      &-title {
         color: $gray25;
         font-size: 20px;
         font-weight: 900;
         line-height: normal;
      }
      &-rang {
         color: $gray100;
         font-size: 18px;
         font-weight: 500;
         line-height: normal;
         margin-left: 16px;
      }
   }
   &__info {
      &-row {
         display: flex;
         align-items: center;
      }

      &-name {
         width: 340px;
      }

      &-txt {
         color: #7b7b7b;
         font-size: 14px;
         font-weight: 500;
         line-height: normal;
         &_color {
            color: $gray500;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
         }
      }
      &-experience {
         display: flex;
         justify-content: space-between;
         width: 70px;
         position: relative;
         margin-left: 20px;
      }
      &-line {
         position: absolute;
         top: -10px;
         width: 100%;
         height: 5px;
         border-top: 1px solid $dark100;
         border-left: 1px solid $dark100;
         border-right: 1px solid $dark100;
      }
      &-damage {
         display: flex;
         justify-content: space-between;
         width: 200px;
         position: relative;
         margin: 0 70px 0 53px;
      }
      &-murders {
         display: flex;
         justify-content: space-between;
         width: 200px;
         position: relative;
      }
      &-subline {
         background: $dark100;
         width: 100%;
         height: 1px;
         margin: 9px 0 12px;
      }
   }
   &__table {
      &-td {
         display: flex;
         align-items: center;
         width: 340px;
         margin-bottom: 14px;
      }

      &-flag {
         margin: 0 11px 0 16px;
      }
      &-name {
         color: $gray25;
         font-size: 20px;
         font-weight: 500;
         line-height: normal;
      }
      &-res {
         display: flex;
         justify-content: space-between;
         width: 107px;
         &_experience {
            width: 70px;
            margin-left: 45px;
         }
         &_damage {
            width: 200px;
            margin: 0 70px 0 53px;
         }
         &_murders {
            width: 200px;
         }
      }
      &-txt {
         color: $gray25;
         font-size: 16px;
         font-weight: 500;
         line-height: normal;
      }
   }
}
