<div class="calibration-pop-up__content">
  <h2 class="calibration-pop-up__title"> Калибровка </h2>
  <div class="calibration-pop-up__text">
    <p
      >Повседневная практика показывает, что сложившаяся структура организации
      способствует подготовки и реализации соответствующий условий
      активизации.</p
    >
    <p
      >Повседневная практика показывает, что постоянное
      информационно-пропагандистское обеспечение нашей деятельности представляет
      собой интересный эксперимент проверки соответствующий условий активизации.
      Товарищи! начало повседневной работы по формированию позиции обеспечивает
      широкому кругу (специалистов) участие в формировании позиций.</p
    >
  </div>
  <div class="calibration-pop-up__btn-block">
    <!--<a href="match.html" class="calibration-pop-up__not-now-link">-->
    <button class="calibration-pop-up__btn btn btn_skip" id="not-now"
      >Не сейчас</button
    >
    <!--</a>-->
    <button class="calibration-pop-up__btn btn btn_skip" id="start-calibration"
      >Начать калибровку</button
    >
  </div>
</div>
