<div class="open-lobby-pop-up__content">
  <h2 class="open-lobby-pop-up__title">
    Войти в лобби на <span class="open-lobby-pop-up__amount"></span>
    <span class="open-lobby-pop-up__currensy">BS</span>
  </h2>
  <div class="open-lobby-pop-up__text">
    <p>
      Если вы выйдете из лобби во время матча - ваш вклад будет утерян Комиссия
      платформы с вашей подпиской - 10%
    </p>
    <div class="open-lobby-pop-up__lobby-info">
      <img src="" class="open-lobby-pop-up__map-img" />
      <img src="" alt="flag" class="open-lobby-pop-up__flag-img" />
      <div class="open-lobby-pop-up__title-lobby"></div>
    </div>
  </div>
  <button class="open-lobby-pop-up__btn btn btn_yellow">
    Войти в комнату
  </button>
</div>
