@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/ui/dropDownMenu.scss";
@import "./components/ui/asideMenu.scss";
@import "./components/ui/swich.scss";
@import "./components/tabs.scss";
@import"./components/cabinet/history.scss";
@import"./components/cabinet/blacklist.scss";
@import"./components/cabinet/personal.scss";
@import"./components/cabinet/wallet.scss";
@import"./components/cabinet/setting.scss";
@import"./components/cabinet/statistics.scss";


.wrapper {
   display: grid;
   grid-template:
      "sidebar header"
      "sidebar main" 1fr ;
   min-height: 0%;
   grid-template-columns: min-content auto;

   overflow: clip;
}
.page {
   width: 100%;
   grid-area: main;
}
.cabinet {
   margin-top: 90px;
   &__container {
      display: flex;
   }

   &__blacklist,
   &__setting,
   &__wallet,
   &__personal,
   &__history,
   &__statistics {
      width: 1227px;
      // backdrop-filter: blur(60px);
      background: $gray800;
      margin-left: 44px;
      // padding: 30px 84px 37px 59px;
   }
}
.statistics {
   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 120px;
      background: $gray800;
      // backdrop-filter: blur(60px);
      padding: 0 51px 0 63px;
      margin-bottom: 29px;
      &-rating {
         display: flex;
      }
      &-text {
         color: $gray25;
         font-size: 24px;
         font-weight: 500;
         line-height: normal;
         span {
            color: $gray25;
         }
      }
      &-rank {
         width: 65px;
         height: 30px;
         background: $gray400;
         margin-left: 17px;
         img {
         }
      }
      &-info {
         display: flex;
         justify-content: space-between;
         width: 508px;
      }
      &-subtext {
         color: $gray25;
         font-size: 18px;
         font-weight: 500;
         line-height: normal;
         margin-left: 9px;
         span {
            display: block;
            color: $gray25;
            font-size: 14px;
            font-weight: 400;
         }
      }
      &-tourney,
      &-winrate,
      &-time {
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 4px;
         background: $gray600;
         backdrop-filter: blur(5px);
         height: 60px;
         svg {
            width: 26px;
            height: 26px;
         }
      }
      &-tourney {
         width: 148px;
      }
      &-winrate {
         width: 151px;
      }
      &-time {
         width: 169px;
      }
   }
   &__cs {
      background: $gray800;
      backdrop-filter: blur(60px);
      padding: 39px 51px 0 63px;
      position: relative;
      z-index: -1;
      display: flex;
      justify-content: space-between;

      &-title {
         color: $gray25;
         font-size: 24px;
         font-weight: 500;
         line-height: normal;
         margin-bottom: 23px;
      }
      &-text {
         display: flex;
         justify-content: space-between;
         width: 175px;
         color: $gray100;
         font-size: 15px;
         font-weight: 500;
         line-height: normal;
         margin-bottom: 5px;
         &:nth-child(3),
         &:nth-child(5) {
            margin-bottom: 43px;
         }
         span {
            display: block;
            color: $yellow300;
         }
      }
      &-schedule {
         max-width: 856px;
         width: 100%;
      }
      &-chart {
         width: 100%;
      }
   }
}




.setting {
   height: 1221px;
   &__content {
      padding: 30px 84px 37px 59px;
      &-title {
         color: $gray25;
         font-size: 24px;
         font-weight: 400;
         line-height: normal;
         margin-bottom: 38px;
         &_sub {
            margin-bottom: 24px;
         }
      }
      &-swich {
         height: 231px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-bottom: 30px;
      }
      &-line {
         width: 100%;
         height: 1px;
         background: $dark100;
         margin-bottom: 25px;
         &_sub {
            margin: 35px 0 25px;
         }
      }
      &-lang {
         display: flex;
      }

      &-text {
         color: $gray200;
         font-size: 16px;
         font-weight: 400;
         line-height: normal;
         &_edit {
            color: $yellow300;
         }
      }

      &-select {
         position: relative;
         max-width: 150px;
         width: 100%;
         display: flex;
         align-items: center;
         padding: 0 50px 0 24px;
      }
      &-current {
         width: 100%;
      }
      &-current,
      &-item {
         color: $gray25;
         font-size: 18px;
         font-weight: 400;
         line-height: normal;
      }

      &-item {
         margin-bottom: 5px;
         &:last-child {
            margin: 0;
         }
      }

      &-arrow {
         position: absolute;
         right: 0px;
         top: 0%;
         svg {
            width: 30px;
            height: 20px;
            fill: $gray25;
         }

         &.rotate {
            transform: translateY(0%) rotate(180deg);
            transition: all 0.5s ease;
         }
      }

      &-list {
         position: absolute;
         width: 100%;
         top: 100%;
         left: 0;
         transition:
            opacity 0.5s,
            visibility 0.5s;
         z-index: 5;
         background: $dark100;
         opacity: 0;
         visibility: hidden;
         z-index: 30;
         padding: 10px 24px;
         border-radius: 12px;
         &.show {
            opacity: 1;
            visibility: visible;
            width: 100%;
            cursor: pointer;
            transition: all 0.5s ease;
            transition:
               opacity 0.5s,
               visibility 0.5s;
         }
      }
      &-country {
         height: 30px;
         // border: 1px solid $gray100;
         // width: 300px;
      }
      &-account {
         height: 120px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      &-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 250px;
         svg {
            width: 20px;
            height: 20px;
            fill: $red500;
         }
      }
      &-column {
         display: flex;
      }
      &-name {
         color: $gray25;
         font-size: 18px;
         font-weight: 400;
         line-height: normal;
         margin-left: 9px;
      }
      &-exit {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 220px;
         height: 56px;
         border-radius: 4px;
         background: rgba(248, 248, 248, 0.05);
         color: $red500;
         font-size: 16px;
         font-weight: 700;
         line-height: normal;
         svg {
            width: 24px;
            height: 24px;
            fill: $red500;
            margin-right: 15px;
         }
      }
   }
}
.blacklist {
   &__title {
      color: $gray25;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 29px 0 0 59px;
   }
   &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      padding: 0px 84px 0 59px;
   }
   &__item {
      width: 544px;
      overflow: auto;
   }

   &__row {
      display: flex;
      align-items: center;
      &-avatar {
         width: 46px;
         height: 46px;
         border-radius: 46px;
         background: $gray200;
      }
      &-column {
         margin-left: 11px;
      }
      &-name {
         color: $gray100;
         font-size: 18px;
         font-weight: 500;
         line-height: normal;
      }
      &-info {
         color: $gray500;
         font-size: 15px;
         font-weight: 700;
         line-height: normal;
      }
      &-rang {
         width: 66px;
         height: 29px;
         background: $gray200;
         margin-left: 60px;
      }
      &-more {
         margin-left: auto;

         svg {
            width: 24px;
            height: 24px;
         }
      }
   }
   &__line {
      width: 100%;
      height: 1px;
      background: $gray500;
      margin: 16px 0;
   }
   &__info {
      display: flex;
      width: 482px;
      height: 104px;
      border-radius: 4px;
      background: $gray600;
      padding: 22px 24px 22px 29px;
      svg {
         width: 40px;
         height: 40px;
         fill: $gray100;
      }
   }
   &__text {
      color: $gray100;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin-left: 16px;
   }
}



.hide {
   display: none;
}
// .tabs-block__tab {
//    font-size: 16px;
// }
// .jss_object {
//    background: transparent;
//    border-radius: 0;
//    width: 200px;
//    padding: 0px 0;
//    box-shadow: none;
//    border: none;
// }
// .jdropdown-container-header {
//    border: none;
// }

// .jdropdown-default {
//    background: transparent;
//    border-radius: 0;
//    width: 200px;
//    padding: 0px 0;
//    box-shadow: none;
//    border: none;
// }
// .jdropdown-default .jdropdown-header {
//    border: none;
// }
// .jdropdown-default .jdropdown-content {
//    background: #3f3d46;
//    width: 200px;
//    padding-top: 10px;
// }
// .jdropdown-image-small {
//    width: 100%;
//    height: 100%;
// }
// .jdropdown-image {
//    margin-right: 13px;
//    width: 34px;
//    height: 21px;
//    border-radius: 0px;

//    aspect-ratio: 1;
// }
// .jdropdown-description {
//    color: $gray25;
//    text-align: right;
//    font-size: 18px;
//    font-weight: 400;
//    line-height: normal;
// }
// .jdropdown-default.jdropdown-item {
//    padding: 5px 10px;
// }
// .jdropdown-header.jss_object {
//    color: $gray25;
//    text-align: right;
//    font-size: 18px;
//    font-weight: 400;
//    line-height: normal;
//    padding: 3px;
// }
