@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/ui/card.scss";
@import "./components/ui/table.scss";
@import "./components/ui/calendar.scss";
@import "./components/ui/dropDownMenu.scss";
// @import "./libs/swiper.scss";

.page {
  // flex: 1 1 auto;

  width: 100%;
  grid-area: main;
}
.banner {
  background:
    $gradient50,
    url(../images/banner.webp) no-repeat center center/cover;
  width: 100%;

  &__container {
    padding: 409px 0 0 0px;
    max-width: 1620px;
    width: 100%;
  }

  &__title {
    font-size: 64px;
    font-weight: 500;
    line-height: normal;
    color: $gray25;
    text-align: center;
    margin-bottom: 74px;
    span {
      color: $yellow300;
    }
  }

  &__swiper {
    width: 1556px;
    // margin-left: 110px;
  }
  // &__button-next {
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   transform: translateY(-50%);
  //   z-index: 10;
  //   svg {
  //     width: 68px;
  //     height: 68px;
  //   }
  // }
}
.bonus {
  &__content {
    width: 1526px;
    height: 451px;
    border-radius: 25px;
    background: $gradient100;
    display: flex;
    justify-content: flex-end;
    padding: 46px 142px 46px 0;

    &_blue {
      display: flex;
      flex-direction: row-reverse;
      background: $gradient200;
      padding: 46px 0px 46px 126px;
    }

    &-logo {
      &_blue {
        svg {
          width: 350px;
          height: 397px;
        }
      }
    }
    &-info {
      margin: 34px 0 0 111px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &_blue {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 34px 261px 0 0px;
      }
    }
    &-title {
      color: $gray25;
      font-size: 28px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 26px;
    }
    &-text {
      color: $white50;
      text-align: right;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      width: 611px;
      margin-bottom: 40px;
      span {
        text-decoration: line-through;
        color: $white50;
      }
      &_blue {
        text-align: left;
      }
    }
    &-link {
      width: 300px;
      // margin-left: auto;
      a {
        display: inline-block;
        padding: 13px 43px;
      }
    }
  }
}

.news {
  &__rating {
    width: 445px;
    height: 653px;
    background: $gray800;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 27px;
    width: 1039px;

    &-row {
      background: $gray800;
    }
    &-item {
      display: flex;
    }
    &-img {
      width: 248px;
      height: 142px;
      background: $gray400;
    }
    &-column {
      margin: 12px 0 0 31px;
    }
    &-title {
      color: $yellow300;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 10px;
    }
    &-text {
      color: $gray100;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      width: 716px;
      margin-bottom: 31px;
    }
    &-sub-row {
      display: flex;
      justify-content: space-between;
    }
    &-views{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 135px;

    }
    &-date,
    &-view,
    &-like {
      color: $gray100;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &-view,
    &-like{
      display: flex;
      align-items: center;
      svg{
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }

    }
  }
}
