@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/ui/dropDownMenu.scss";
@import "./components/tabs.scss";
@import "./components/lobby/createTeams.scss";

.wrapper {
   display: grid;
   grid-template:
      "sidebar header"
      "sidebar main" 1fr;
   min-height: 0%;
   grid-template-columns: min-content auto;

   overflow: clip;
}
.page {
   width: 100%;
   grid-area: main;
}
.lobby {
   background:
      $gradient50,
      url(../images/lobiBG.png) no-repeat center center/cover;
   width: 100%;
   height: 654px;

   &__tab .tabs-block__tabs {
      padding-top: 27px;
      width: 594px;
      margin: 0 auto;
   }
   &__tab .tabs-block__tab{
      width: 100%;
   }
   &__tab .tabs-block__lamp {
      bottom: -15px;
      background: rgba(196, 196, 196, 0.10);
backdrop-filter: blur(5px);
   }

   &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin-top: 40px;
   }
   &__teams {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      &-border {
         &-line {
            width: 645px;
            height: 535px;
            position: relative;
            clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
            border: 1px solid $yellow300;
            // background: $yellow300;

            &::before {
               content: "";
               position: absolute;
               display: block;
               width: 100%;
               height: 1px;
               top: 20px;
               left: 0;
               // height: 100%;
               background: $yellow300;
               transform: rotate(45deg);
            }
         }

         // &::before,
         // &::after {
         //     content: '';
         //     position: absolute;
         //     top: 0;

         //     height: 100%;
         //     background-color: yellow;
         // }

         // &::before {
         //    //  left: 25%;
         // }

         // &::after {
         //    //  right: 25%;
         // }
      }

      &-info {
         display: flex;
         width: 520px;
         margin-top: 30px;
         justify-content: space-between;
         &-title {
            color: $gray300;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
         }
         &-name {
            color: $gray25;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
         }

         &-id {
            svg {
               width: 18px;
               height: 18px;
               fill: $gray25;
            }
         }
      }
   }

   &__statictic{
      margin-top: 90px;
   }
}


