@import './style.scss';
@import './components/header';
@import './components/sidebar';
@import './components/ui/chackbox.scss';
@import './components/ui/dropDownMenu.scss';
@import './components/pop-up';
@import './components/overlay';
@import './components/btns';
@import './components/calibration-pop-up';

.wrapper {
  overflow: hidden;
  height: 100vh;
}

.match-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  //  flex: 1 1 auto;
  grid-area: main;
  display: flex;
  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &__filters {
    width: 311px;
    height: 100%;
    padding: 15px 5px 5px 5px;
  }

  &__content {
    flex: 1 1 auto;
  }
}

.overflow_hidden {
  overflow: hidden;
}

.filters {
  background: rgba(248, 248, 248, 0.05);
  backdrop-filter: blur(10px);
  &__tabs {
    width: 100%;
    height: 42px;
    margin: 0px 0px 33px 0px;
    padding: 0px 17px 0px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
  }
  &__find-lobby {
  }
}
.tabs-block {
  &__tabs {
  }
  &__tab {
    flex: 1 1 50%;
    color: $gray300; // rgba(248 248 248 0.6)
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &_active {
      color: $Goldenrod; // #fac704;
    }
  }

  &__content {
  }

  &__content-container {
    display: none;
    &_active {
      display: block;
    }
  }
}
.party {
  &__title-block {
  }

  &__help-block {
  }

  &__help-block-icon {
  }

  &__help-block-text {
  }

  &__users {
  }

  &__user-block {
  }

  &__create-user {
  }
}
.user-block {
  &__avatar {
  }

  &__avatar-img {
  }

  &__avatar-online {
  }

  &__info {
  }
}

.find-lobby {
  &__party {
  }

  &__filters-block {
  }

  &__filters-title-block {
  }

  &__filters-title {
  }

  &__rate-filter {
  }

  &__maps-filter {
  }

  &__game-mode-filter {
  }

  &__region-filter {
  }

  &__anticheat {
  }
}
.create-lobby {
}
