@import './style.scss';
@import './components/header';
@import './components/sidebar';
@import './components/ui/chackbox.scss';
@import './components/pop-up';
@import './components/overlay';
@import './components/btns';
@import './components/calibration-pop-up';

.main {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  grid-area: main;
  display: flex;
  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &__filters {
    width: 311px;
    height: 100%;
  }

  &__content {
    flex: 1 1 auto;
    margin: 5px 5px 5px 5px;
  }
}

.overflow_hidden {
  overflow: hidden;
}
img {
  width: 100%;
}
.tab_active {
  color: chartreuse;
  font-size: 24px;
}

.content-container_active {
  background: #6709eb;
}

.content {
  &__container {
  }

  &__party {
  }

  &__filters-block {
  }

  &__filters-title-block {
  }

  &__filters-title {
  }

  &__rate-filter {
  }

  &__maps-filter {
  }

  &__game-mode-filter {
  }

  &__region-filter {
  }

  &__anticheat {
  }

  &__tabs-content {
  }

  &__tab-content {
  }
}
.filters {
  &__tabs {
  }

  &__content {
  }
}
.tabs-block {
  &__tabs {
  }

  &__content {
  }

  &__content-container {
  }
}
.tabs {
  &__tab {
  }
}
.tab {
  &_active {
  }

  &__ {
  }
}
.content-container {
  &_active {
  }
}
.party {
  &__title-block {
  }

  &__help-block {
  }

  &__help-block-icon {
  }

  &__help-block-text {
  }

  &__users {
  }

  &__user-block {
  }

  &__create-user {
  }
}
.user-block {
  &__avatar {
  }

  &__avatar-img {
  }

  &__avatar-online {
  }

  &__info {
  }
}
.tabs-content {
  &__tab {
  }
}
.tab-content {
}
.search-tab {
}
