@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/ui/asideMenu.scss";
@import "./components/ui/dropDownMenu.scss";
@import "./components/ui/swich.scss";
@import "./components/tabs.scss";
.wrapper {
   display: grid;
   grid-template:
      "sidebar header"
      "sidebar main" 1fr;
   min-height: 0%;
   grid-template-columns: min-content auto;

   overflow: clip;
}
.page {
   width: 100%;
   grid-area: main;
}
.setting {
   &__bg {
      background: url(../../src/images/newsBg.png) repeat-x;
      height: 200px;
      width: 100%;
      position: absolute;
      top: 49px;
      left: 0;
      z-index: -1;
   }
   &__container {
      display: flex;
   }
   &__content{
      width: 1227px;
      margin-left: 44px;
      background: $gray800;
      backdrop-filter: blur(60px);
      padding: 30px 84px 37px 59px;
   }
   padding: 30px 84px 37px 59px;
   &__title {
      color: $gray25;
      font-size: 24px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 38px;
      &_sub {
         margin-bottom: 24px;
      }
   }

   &__swich {
      height: 231px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 30px;
   }
   &__line {
      width: 100%;
      height: 1px;
      background: $dark100;
      margin-bottom: 25px;
      &_sub {
         margin: 35px 0 25px;
      }
   }
   &__lang {
      display: flex;

      &-text {
         color: $gray200;
         font-size: 16px;
         font-weight: 400;
         line-height: normal;
         &_edit {
            color: $yellow300;
         }
      }

      &-select {
         position: relative;
         max-width: 150px;
         width: 100%;
         display: flex;
         align-items: center;
         padding: 0 50px 0 24px;
      }
      &-current {
         width: 100%;
      }
      &-current,
      &-item {
         color: $gray25;
         font-size: 18px;
         font-weight: 400;
         line-height: normal;
      }

      &-item {
         margin-bottom: 5px;
         &:last-child {
            margin: 0;
         }
      }

      &-arrow {
         position: absolute;
         right: 0px;
         top: 0%;
         svg {
            width: 30px;
            height: 20px;
            fill: $gray25;
         }

         &.rotate {
            transform: translateY(0%) rotate(180deg);
            transition: all 0.5s ease;
         }
      }

      &-list {
         position: absolute;
         width: 100%;
         top: 100%;
         left: 0;
         transition:
            opacity 0.5s,
            visibility 0.5s;
         z-index: 5;
         background: $dark100;
         opacity: 0;
         visibility: hidden;
         z-index: 30;
         padding: 10px 24px;
         border-radius: 12px;
         &.show {
            opacity: 1;
            visibility: visible;
            width: 100%;
            cursor: pointer;
            transition: all 0.5s ease;
            transition:
               opacity 0.5s,
               visibility 0.5s;
         }
      }
   }
   &__country {
      height: 30px;
      // border: 1px solid $gray100;
      // width: 300px;
   }
   &__account {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-item {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 250px;
         svg {
            width: 20px;
            height: 20px;
            fill: $red500;
         }
      }
      &-column {
         display: flex;
      }
      &-name {
         color: $gray25;
         font-size: 18px;
         font-weight: 400;
         line-height: normal;
         margin-left: 9px;
      }
   }
   &__exit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 56px;
      border-radius: 4px;
      background: rgba(248, 248, 248, 0.05);
      color: $red500;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      svg {
         width: 24px;
         height: 24px;
         fill: $red500;
         margin-right: 15px;
      }
   }

}
