@import "../styles/style.scss";
@import "./components/header.scss";
// *{
//    outline: 1px solid red;
// }
.sign {
   background:
      $gradient50,
      url(../images/sign.webp) no-repeat center center/cover;
   height: 100vh;

   &__container {
      padding: 66px 0 0 60px;
   }
   &__content {
      max-width: 677px;
      width: 100%;
      background: $gray550;
      backdrop-filter: blur(30px);
      padding: 41px 79px 44px;
      display: flex;
      flex-direction: column;
      align-items: center;

   
   }

   &__logo {
      width: 143px;
      height: 153px;
      margin: 0px auto;
   }

   &__tabs {
      margin: 58px 0 0px;
      display: flex;
      border-bottom: 4px solid $dark100;
      &-enter,
      &-create {
         font-size: 14px;
         font-weight: 700;
         line-height: normal;
         color: $gray300;
         text-align: center;
         width: 237px;
         @include tabs;
         margin-bottom: 9px;
      }

      &-enter,
      &-create {
      }
   }
}

.form {
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   padding-top: 29px;
   position: relative;
   &__signin {
      margin-left: 5px;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      &-nickname,
      &-password,
      &-email {
         font-size: 16px;
         position: relative;
         width: 474px;
         height: 50px;
      }
      &-password,
      &-email {
         margin-top: 16px;
      }
      &-inp {
         // display: inline-block;
         width: 100%;
         height: 100%;
         // all: unset;
         color: $gray200;
         font-size: 20px;
         padding: 16px 20px;
         border: 1px solid $gray100;
         transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
         background: $gray600;
      }

      &-label {
         position: absolute;
         top: 19px;
         left: 18px;
         color: $gray200;
         pointer-events: none;
         transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
         font-weight: 500;
      }

      &-inp:focus {
         border: 1px solid $yellow300;
      }

      &-inp:is(:focus, :valid) ~ &-label {
         transform: translateY(-165%) scale(0.9);
         background: $gray400;
         padding-inline: 4px;
         color: $gray200;
      }

      &-forgot {
         display: flex;
         justify-content: flex-end;
         margin: 5px 0px 28px 0;
      }

      &-text {
         font-size: 14px;
         font-weight: 400;
         color: $gray475;
      }

      &-link {
         font-size: 14px;
         font-weight: 400;
         color: $gray25;
         margin-left: 5px;
      }
      &-btn {
         width: 250px;
         height: 44px;
         margin: 0 auto;
         // margin: 0px 0 auto ;
      }
      &-social {
         margin: 68px 0px 0 0;
         &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
               font-size: 14px;
               font-weight: 700;
               color: $gray25;
            }
            hr {
               width: 146px;
               height: 1px;
               background: $gray100;
            }
         }
         &-icons {
            display: flex;
            justify-content: space-between;
            max-width: 355px;
            width: 100%;
            margin: 26px auto 0;

            a {
               svg {
                  width: 40px;
                  height: 40px;
               }
            }
         }
      }
      &-agreement {
         margin-top: 37px;
         max-width: 519px;
         width: 100%;
         text-align: center;
      }
   }

   &__signup {
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   }
}
.hide {
   display: none;
}

@keyframes slide-in-right {
   0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
   }
}
@keyframes slide-in-left {
   0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
   }
}
