@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/team/teamItem.scss";
@import "./components/ui/pagination.scss";
@import "./components/tabs.scss";
@import "./components/team/team-list.scss";

.wrapper {
  overflow: hidden;
  height: 100vh;
}

.teams-page {
  height: 100%;
  overflow: auto;
  &__container {
    padding: 13px 189px 169px 189px;
    max-width: none;
  }
}

.input {
  &__search {
    max-width: 1434px;
    overflow: hidden;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    background: rgba(248, 248, 248, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    &-button {
      background: none;
    }
    &-icon {
      width: 20px;
      height: 20px;
      fill: #bfbfbf;
      margin-right: 2px;
      padding-top: 4px;
    }
    &-input {
      min-width: 100px;
      width: fit-content;
      background: none;
      color: white;
      &::placeholder {
        color: #bfbfbf;
      }
    }
  }
}

.teams-section {
  &__header {
    display: grid;
    grid-template:
      "title sort"
      "search search";
    row-gap: 22px;
    &-title {
      grid-area: title;
      color: #f8f8f8;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
    }
    .search-block {
      grid-area: search;
    }
  }
  &__list {
    margin-top: 20px;
  }
}

.sort {
  margin-left: auto;
  grid-area: sort;
  display: flex;
  gap: 7px;

  &__title {
    color: #606060;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__select {
    text-align: right;
    color: #f8f8f8;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
  }
}

.tabs-block {
  margin-top: 28px;
  &__tabs {
    margin-bottom: 44px;
    max-width: 983px;
  }
  &__tab {
    width: 100%;
    max-height: 10px;
  }
}
