@import "./style.scss";
@import "./components/sidebar.scss";
@import "./components/header.scss";
@import "./components/team/teamItem.scss";

.wrapper {
  overflow: hidden;
  height: 100vh;
}

.teams-page {
  height: 100%;
  overflow: auto;
  &__container {
    padding: 13px 189px 169px 189px;
    max-width: none;
  }
}

.teams-list-section {
  &__header {
    display: grid;
    grid-template:
      "title sorting"
      "search search";
    row-gap: 22px;
  }

  &__title {
    grid-area: title;
    color: $gray25;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
  }

  &__sorting {
    text-align: right;
    grid-area: sorting;
    &::before {
      content: "Сортировать";
      color: $DimGray;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 500;
      margin-right: 13px;
    }
    background: none;
    &-select {
      background: none;
      color: white;
      width: fit-content;
    }
  }

  &__search {
    padding: 9px 10px 10px;
    grid-area: search;
    width: 100%;
    background: rgba(248, 248, 248, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
    &-input {
      background: none;
      width: 100%;
      text-align: center;
      color: white;
    }
  }

  .team-item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &:not(:first-child) {
    margin-top: 78px;
  }
}
