.team-item {
  background-color: #18181be5;
  display: flex;
  align-items: center;
  gap: 20px;

  &__img-block {
    max-width: 108px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 10%;
    max-width: 108px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__name {
    width: 10%;
    color: #f8f8f8;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &::before {
      content: "Рейтин:";
      color: #606060;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__rating {
    width: 10%;
    &::before {
      content: "Рейтин:";
    }
  }

  &__tournaments {
    width: 10%;
    &::before {
      content: "Турниров:";
    }
  }

  &__earned {
    width: 10%;
    &::before {
      content: "Выиграно:";
    }
  }

  &__participants {
    width: 10%;
    &::before {
      content: "Учасников:";
    }
  }

  &__awards {
    width: 10%;
  }

  &__award-img {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
