<tr class="streaming-tr content__tr" id="">
  <td class="streaming-tr__img-cell">
    <div class="streaming-tr__img-block">
      <img
        src="src/images/temporary/map-img.png"
        alt=""
        class="streaming-tr__img"
      />
    </div>
  </td>
  <td class="streaming-tr__name-cell">
    <div class="streaming-tr__name-block">
      <img
        src="src/images/temporary/ukr-flag.png"
        alt="flag"
        class="streaming-tr__flag"
      />
      <div class="streaming-tr__name"> PlayFair Display$$$ </div>
    </div>
  </td>
  <td class="streaming-tr__map">
    <div class="streaming-tr__data-title"> Карта </div>
    <div class="streaming-tr__rate-value"> Mirage </div>
  </td>
  <td class="streaming-tr__rate-block">
    <div class="streaming-tr__data-title"> Ставка </div>
    <div class="streaming-tr__rate-value"> 5000 $ </div>
  </td>
  <td class="streaming-tr__mode">
    <div class="streaming-tr__data-title"> Режим </div>
    <div class="streaming-tr__rate-value"> 5x5 </div>
  </td>
  <td class="streaming-tr__participants">
    <div class="streaming-card__online-field"> Онлайн </div>
  </td>
  <td class="streaming-tr__ping-cell">
    <div class="streaming-card__viewers-block">
      <div class="streaming-card__viewers-icon">
        <svg>
          <use xlink:href="src/images/sprite.svg#view"></use>
        </svg>
      </div>
      <div class="streaming-card__viewers">1024 </div>
    </div>
  </td>
</tr>
