<div class="{='class'} match-card" id="">
  <div class="striming-card__img-block">
    <div class="striming-card__wrapper-img">
      <img
        src="src/images/temporary/map-img.png"
        alt=""
        class="striming-card__img"
      />
    </div>
  </div>
  <div class="striming-card__content">
    <div class="striming-card__title-block">
      <div class="striming-card__name-block">
        <img
          src="src/images/temporary/ukr-flag.png"
          alt="flag"
          class="striming-card__flag"
        />
        <h3 class="striming-card__name"> HEll_YES_FRANCE </h3>
      </div>
      <div class="striming-card__map"> Mirage </div>
      <div class="striming-card__online-field"> Онлайн </div>
    </div>
    <div class="striming-card__other-data">
      <div class="striming-card__data-block">
        <div class="striming-card__rate-block">
          <div class="striming-card__data-title"> Ставка </div>
          <div class="striming-card__rate-value"> 5000 $ </div>
        </div>
        <div class="striming-card__mode">
          <div class="striming-card__data-title"> Режим </div>
          <div class="striming-card__rate-value"> 5x5 </div>
        </div>
      </div>
      <div class="striming-card__viewers-block">
        <div class="striming-card__viewers-icon">
          <svg>
            <use xlink:href="src/images/sprite.svg#view"></use>
          </svg>
        </div>
        <div class="striming-card__viewers">1024 </div>
      </div>
    </div>
  </div>
</div>
