.striming-card {
  width: 100%;
  height: 100%;
  background: $gray900; // rgba(248 248 248 0.02)
  backdrop-filter: blur(10px);
  cursor: pointer;
  &__img-block {
    position: relative;
    width: 100%;
    padding-top: 52.47%;
  }

  &__wrapper-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    padding: 12px 20px 12px 15px;
  }

  &__title-block {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__name-block {
    margin: 0px 0px 3px 0px;
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__flag {
    height: 15px;
    margin: 0px 10px 0px 0px;
  }

  &__name {
    color: $gray25; // #f8f8f8;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__online-field {
    width: 72px;
    height: 22px;
    margin: 3px 0px 0px 0px;
    padding: 1px 0px 0px 0px;
    border-radius: 25px;
    background: rgba(241, 57, 57, 0.1);
    color: #f13939;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &__map {
    margin: 0px 0px 6px 0px;
    color: $gray75; // #afafaf;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }

  &__other-data {
    width: 100%;
    padding: 6px 0px 0px 0px;
    border-top: 1px solid $dark100; // #3F3D46
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__data-block {
    display: flex;
    & > div {
      margin: 0px 32px 0px 0px;
    }
  }

  &__rate-block {
  }

  &__data-title {
    color: $DimGray; // #606060
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }

  &__rate-value {
    color: $gray25; // #f8f8f8
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__mode {
  }

  &__participants {
  }

  &__viewers-block {
    margin: 0px 4px 3px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__viewers {
    color: #bfbfbf;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__viewers-icon {
    width: 20px;
    height: 20px;
    margin: 0px 2px 0px 0px;
    svg {
      width: 100%;
      height: 100%;
      fill: #bfbfbf;
    }
  }
}
