.checkbox-swich {
   &__label {
      display: flex;
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;

      &:checked~.checkbox-swich {
         &__castom-checkbox {
            background: $yellow300; // #fac704;

            .checkbox-swich__castom-checkbox-mark {
               transform: translateX(19px);
            }
         }

         &__label-text {
            color: $gray25; // #f8f8f8
            transition: $standartTrans;
         }
      }
   }

   &__castom-checkbox {
      position: relative;
      width: 38px;
      height: 19px;
      padding: 0 3.5px;
      border-radius: 9px;
      background: $gray400; // #606060
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background 0.2s linear 0s;
   }

   &__castom-checkbox-mark {
      position: relative;
      z-index: 1;
      width: 12px;
      height: 12px;
      border-radius: 13px;
      background: $dark400; //#0c0c0e
      transition: transform 0.2s linear 0s;
   }

   &__label-text {
      margin: 0px 0px 0px 40px;
      align-self: center;
      color: $gray200; // #989898
      transition: $standartTrans;
   }
}