<div class="menu">
   <nav class="menu__body">
      <ul class="menu__list">
         <li class="menu__item menu__item_act">
            Статистика
            <svg>
               <use xlink:href="src/images/sprite.svg#static"></use>
            </svg>
         </li>
         <li class="menu__item">
            История матчей
            <svg>
               <use xlink:href="src/images/sprite.svg#history-matches"></use>
            </svg>
         </li>
         <li class="menu__item">
            Личные данные
            <svg>
               <use xlink:href="src/images/sprite.svg#account"></use>
            </svg>
         </li>
         <li class="menu__item">
            Кошелёк
            <svg>
               <use xlink:href="src/images/sprite.svg#wallet"></use>
            </svg>
         </li>
         <li class="menu__item">
            Параметры
            <svg>
               <use xlink:href="src/images/sprite.svg#setting"></use>
            </svg>
         </li>
         <li class="menu__item">
            Черный список
            <svg>
               <use xlink:href="src/images/sprite.svg#blacklist"></use>
            </svg>
         </li>
      </ul>
   </nav>
</div>