<div class="menu">
   <nav class="menu__body">
      <a class="menu__link menu__link_act" href="statistics.html">Статистика
         <svg>
            <use xlink:href="src/images/sprite.svg#static"></use>
         </svg>
      </a>
      <a class="menu__link" href="history.html">История матчей
         <svg>
            <use xlink:href="src/images/sprite.svg#history-matches"></use>
         </svg>
      </a>
      <a class="menu__link" href="personal.html">Личные данные
         <svg>
            <use xlink:href="src/images/sprite.svg#account"></use>
         </svg>
      </a>
      <a class="menu__link" href="wallet.html">Кошелёк
         <svg>
            <use xlink:href="src/images/sprite.svg#wallet"></use>
         </svg>
      </a>
      <a class="menu__link" href="setting.html"> Параметры
         <svg>
            <use xlink:href="src/images/sprite.svg#setting"></use>
         </svg>
      </a>
      <a class="menu__link" href="blacklist.html">Черный список
         <svg>
            <use xlink:href="src/images/sprite.svg#blacklist"></use>
         </svg>
      </a>
   </nav>
</div>