<div class="menu">
   <nav class="menu__body">
      <a class="menu__link menu__link_act" href="#statistics">Статистика
         <svg>
            <use xlink:href="src/images/sprite.svg#static"></use>
         </svg>
      </a>
      <a class="menu__link" href="#history">История матчей
         <svg>
            <use xlink:href="src/images/sprite.svg#history-matches"></use>
         </svg>
      </a>
      <a class="menu__link" href="#personal">Личные данные
         <svg>
            <use xlink:href="src/images/sprite.svg#account"></use>
         </svg>
      </a>
      <a class="menu__link" href="#wallet">Кошелёк
         <svg>
            <use xlink:href="src/images/sprite.svg#wallet"></use>
         </svg>
      </a>
      <a class="menu__link" href="#setting"> Параметры
         <svg>
            <use xlink:href="src/images/sprite.svg#setting"></use>
         </svg>
      </a>
      <a class="menu__link" href="#blacklist">Черный список
         <svg>
            <use xlink:href="src/images/sprite.svg#blacklist"></use>
         </svg>
      </a>
   </nav>
</div>