<div class="card">
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
   <div class="card__news">
      <div class="card__news-img"></div>
      <hr class="card__news-line">
      <h2 class="card__news-title">Главные турниры октября</h2>
      <p class="card__news-text">FURIA представила помощника тренера. Отныне tacitus...</p>
      <div class="card__news-row">
         <div class="card__news-info">
            <div class="card__news-avatar"></div>
            <p class="card__news-name">Максим Рихтер</p>
            <p class="card__news-data">21 Окт, 2020</p>
         </div>
         <div class="card__news-view">
            <div class="card__news-svg">
               <svg>
                  <use xlink:href="src/images/sprite.svg#view"></use>      
               </svg>
            </div>
            <p class="card__news-number">123</p>   
         </div> 
      </div>
   </div>
</div>