<div class="dropdown__game">
  <!-- <div class="dropdown__game-select">
      <div class="dropdown__game-current">
         <img class="dropdown__game-img" src="src/images/csGo.webp" alt="">
         <p class="dropdown__game-name">CS:GO</p>
      </div>
      <div class="dropdown__game-arrow">
         <svg>
            <use xlink:href="src/images/sprite.svg#arrow-game"></use>
         </svg>
      </div>
      <ul class="dropdown__game-list">
         <li class="dropdown__game-item"><img class="dropdown__game-icon" src="src/images/csGo.webp" alt="">Counter Strike: Global Offensive</li>
         <li class="dropdown__game-item"><img class="dropdown__game-icon" src="src/images/dota.webp" alt="">DOTA 2</li>
      </ul>
   </div> -->
</div>
