<div class="tour">
   <div class="tour__item">
      <div class="tour__item-img">
         <img src="src/images/tour.png" alt="img">
      </div>
      <div class="tour__item-info">
         <h2 class="tour__item-title">Major Stochholm 2021</h2>
         <p class="tour__item-data">23 Окт - 7 Ноя</p>
         <div class="tour__item-teams">36 команд зарегистрированы:</div>
         <ul class="tour__item-list">
            <li class="tour__item-row">
               <img class="tour__item-ava" src="" alt="">
               <p class="tour__item-name">JJJASON_Team</p>
               <p class="tour__item-rank">1769</p>
            </li>
            <li class="tour__item-row">
               <img class="tour__item-ava" src="" alt="">
               <p class="tour__item-name">JJJASON_Team</p>
               <p class="tour__item-rank">1769</p>
            </li>
            <li class="tour__item-row">
               <img class="tour__item-ava" src="" alt="">
               <p class="tour__item-name">JJJASON_Team</p>
               <p class="tour__item-rank">1769</p>
            </li>
            <li class="tour__item-row">
               <img class="tour__item-ava" src="" alt="">
               <p class="tour__item-name">JJJASON_Team</p>
               <p class="tour__item-rank">1769</p>
            </li>
         </ul>
         <div class="tour__item-btn">
            <button class="btn btn_yellow">Подать заявку</button>
         </div>
      </div>
   </div>
</div>