<div class="{=$class} map-selected">
  <div class="map-selected__title create-lobby__title"> Карты </div>
  <div class="map-selected__wrapper-btns" id="map-selected-wrapper">
    <div class="map-selected__btn-input-wrapper">
      <input
        type="radio"
        value="DustII"
        name="map"
        class="map-selected__btn-input"
        id="dust-ii"
      />
      <label for="dust-ii" class="map-selected__btn btn btn_create-lobby">
        <div>Dust II</div>
      </label>
    </div>
    <button class="map-selected__btn btn btn_create-lobby"> Mirage </button>
    <button class="map-selected__btn btn btn_create-lobby"> Inferno </button>
    <button class="map-selected__btn btn btn_create-lobby btn_create-lobby-act">
      Lake
    </button>
    <button class="map-selected__btn btn btn_create-lobby"> Ancient </button>
    <button class="map-selected__btn btn btn_create-lobby"> Nuke </button>
  </div>
</div>
