<div class="{=$class} rate-selected">
  <div class="rate-selected__title create-lobby__title"> Ставка </div>
  <load
    ="src/html/components/ui/rate-input.html"
    class="rate-selected__rate-input"
    id="rate-input"
  />
  <div class="rate-selected__wrapper-btns" id="rate-selected-wrapper">
    <!--<button class="rate-selected__btn btn btn_create-lobby">
      100
      <span>BS</span>
    </button>
    <button class="rate-selected__btn btn btn_create-lobby">
      200
      <span>BS</span>
    </button>
    <button class="rate-selected__btn btn btn_create-lobby">
      500
      <span>BS</span>
    </button>
    <button class="rate-selected__btn btn btn_create-lobby">
      1000
      <span>BS</span>
    </button>
    <button class="rate-selected__btn btn btn_create-lobby">
      2000
      <span>BS</span>
    </button>
    <button
      class="rate-selected__btn btn btn_create-lobby btn_create-lobby-act"
    >
      10000
      <span>BS</span>
    </button>-->
  </div>
</div>
