<div class="{=$class} region-selected">
  <div class="region-selected__title create-lobby__title"> Карты </div>
  <div class="region-selected__wrapper-btns">
    <button class="region-selected__btn btn btn_create-lobby">
      Afganistan
    </button>
    <button class="region-selected__btn btn btn_create-lobby"> Austria </button>
    <button class="region-selected__btn btn btn_create-lobby"> Ukraine </button>
    <button
      class="region-selected__btn btn btn_create-lobby btn_create-lobby-act"
    >
      Poland
    </button>
    <button class="region-selected__btn btn btn_create-lobby">
      Lithuania
    </button>
    <button class="region-selected__btn btn btn_create-lobby"> Sweden </button>
  </div>
</div>
